.bg {
    background-image: url('/images/bg_1.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 160px;
    height: 45px;
    border-radius: 6px;
    color: #fff;
    background: linear-gradient(180deg, #643cf1 0%, #3d1bb7 100%);
    margin-top: 30px;
    text-transform: uppercase;
}
