/* HEADER */
header {
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url('../../public/images/menu.png');
}

.item-header {
    position: relative;
    transition: all 200ms linear;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.item-header:hover,
.active a {
    color: #8563ff;
}

.item-header::before,
.item-header::after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: #8563ff;
    transition: all 0.3s;
}

.item-header::before {
    left: 0;
    top: -6px;
}

.item-header::after {
    right: 0;
    bottom: -6px;
}

.item-header:hover::before,
.item-header:hover::after,
.active::before,
.active::after {
    opacity: 1;
    width: 100%;
}
