.bg {
    background-image: url('/images/campaign_banner.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
